.legendtext{
    padding-left:4px;
    display:inline-block;
    margin-top:-8px;
    margin-left: 4px;
    /*height:20px;*/
    vertical-align:middle;
}
.marker {
    position: absolute;
    display: block;
    /* text-indent: -9999px;*/
    width: 100px;
    height: 100px;
    outline: none;
    background: url(../img/ajax-loader.gif) no-repeat;
    cursor: pointer;
    /*padding-bottom: 100px;*/
    z-index: 2;
}

.position {
    position: absolute;
    display: block;
    outline: none;
    padding-top: 20px;
}
#topoContainer a{ color:blue;font-weight: bold;}
#topoContainer a:hover{ color: blue;font-weight: bold; text-decoration: none;}

#topoContainer .tooltip-inner { text-align: left;}

/* bxslider style */
.bx-wrapper {
    margin-bottom: 30px;
}
.bx-viewport ul {
    margin: 0 5px;
}
.bx-viewport li {
    border: 1px solid #E5E5E5;
}
.bx-viewport img {
    width: auto;
    height: 120px;
}
.bx-wrapper .bx-controls-direction a {
    z-index: 1;
}
.bx-wrapper .bx-controls-direction a.bx-prev {
    top: 7%;
}
.bx-wrapper .bx-controls-direction a.bx-next {
    top: 93%;
}
.bx-wrapper .bx-prev {
	left: 40%;
}
.bx-wrapper .bx-next {
	right: 40%;
}
.bx-wrapper .bx-caption {
    background: #282828;
    background: rgba(40, 40, 40, 0.4);
}

.bx-wrapper .bx-caption span {
    padding: 0;
}
